h2{
    margin: 0px;
    font-family: fantasy;
    font-style: italic;
    background-color: blanchedalmond;
    text-align: center;
}
h1{
    font-family: Arial, sans-serif;
    text-align: center;
    color: blue;
    background-color: salmon;
    font-style: normal;
    text-align: center;
}
ul{
    
    border: 3px double grey;
    overflow: auto;
    background-color: violet;
    padding: none;
    margin: 1px;
    font-family: monospace;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
    display: inline;

}
ol{
    color:chocolate;
    font-family: cursive;
    font-weight: 700;
    font-style: inherit;
    font-size: 30px;
    padding: 0px;
    border: 3px solid black;
    margin: 1px;
    text-align: center;

}
p{
    font: 1em sans-serif;
    font-size: 25px;
    display: inline;
    font-family: serif;
    font-style: normal;
    
}

body{
    background-color: beige;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-family: monospace;
}
h1{
    display: block;  
    font-family: unset;
}


